<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Home</title>
  <link rel="stylesheet" href="../stylesheets/{{style}}">
</head>

<body>
  <div class="bg1">

  </div>

  <nav>
    <div class="nav-left">
      <a href="/"> <img class="logo" src="/images/logo1.png"></a>

    </div>
    <div class="nav-right">

      <div class="nav-button">
        <a href="/">Home</a>
      </div>
      <div class="nav-button">
        <a href="/calculate">Calculate</a>
      </div>
      <div class="nav-button">
        <a href="/about">How Co2 Generated</a>
      </div>


    </div>
  </nav>

  <div class="content5">
    <div class="right-content">
      <div class="box3">
        <form action="">
            <div class="box8">
                <h1>
           CHALLENGE
         </h1>
         <p>
             Currently, the Earth is already about 1.1°C warmer than it was in the late 1800s, and emissions continue to rise. To keep global warming to no more than 1.5°C  ,emissions need to be reduced by 45% by 2030 and reach net zero by 2050.
         </p>
         <br>

            </div>
          <div class="box8">
             <h1>
           MISSION

         </h1>
         <p>
             Our mission is to guide climate action through data and insight.By helping you measure ,analyze  and understand how much the material generates emissions, we make it easy for you to start and scale effective changes in your packaging.

         </p>
         <br>

          </div>
                  <div class="box8">

         <h1>
           What Our Tool Does?

         </h1>
         <p>
          This tool basically calculates a materials  Carbon emissions based on his/her inputs and suggests recommendations which will in turn help in molding a person into being more conscious of the environment and sustainable practices.

         </p>
         <br>
         </div>
        </form>
      </div>



    </div>




  </div>
  </div>

  
</body>

</html>