<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Home</title>
  <link rel="stylesheet" href="../stylesheets/{{style}}">
</head>

<body>
  <div class="bg1">

  </div>

  <nav>
    <div class="nav-left">
      <a href="/"> <img class="logo" src="/images/logo1.png"></a>

    </div>
    <div class="nav-right">

      <div class="nav-button">
        <a href="/">Home</a>
      </div>
      <div class="nav-button">
        <a href="/calculate">Calculate</a>
      </div>
      <div class="nav-button">
        <a href="/personal">How Co2 Generated</a>
      </div>


    </div>
  </nav>

  <div class="content">
    <div class="right-content">
      <div class="box">
        <form action="">
          <h1>History</h1>
         <h1>
            Lorem ipsum dolor sit 
         </h1>
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, corrupti. Minus id eos modi distinctio. Deserunt voluptatibus obcaecati repellendus. Alias nobis quasi cumque assumenda in recusandae officiis nisi, ipsum nemo.
         </p>
        </form>
      </div>



    </div>




  </div>
  </div>

  
</body>

</html>