<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/calculate" method="post">
        <input id="material" name="material" type="text" placeholder="Name Of material"><br>
        <input id="weight" name="weight" type="text" placeholder="weight"><br>


        <button id="submit" type="submit" name="button">SEND MESSAGE</button>

        <div>
            <h1>NAme of material is {{output.name}}</h1>
            <h1>Carbon footprint is {{co2Value.value}}</h1>
        </div>

        <a href="/history/{{userId.value}}">History</a>
        <a href="/download">Genarate PDF</a>
        <a href="">Report</a>
    </form>


</body>

</html>