<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <link rel="stylesheet" href="../stylesheets/{{style}}">
</head>
<body>
  <div class="bg">

  </div>

  <nav>
    <div class="nav-left">
        <a href="index.html"> <img class="logo" src="images/logo1.png"></a>
        
                </div>
      <div class="nav-right">
           
           <div class="nav-button">
             <a href="/">Home</a>
           </div>
           <div class="nav-button">
             <a href="/calculate">Calculate</a>
           </div>
           <div class="nav-button">
             <a href="/about">How Co2 Generated</a>
           </div>
           
           
      </div>
  </nav>

  <div class="content">
    <div class="left-content">
        <img class="img1" src="images/carbon foot.png">
        <img class="img2" src="images/carbon foot1.png">
    </div>
    <div class="right-content">
      <h2><span style="font-size: 35px;">Reduce Carbon Footprint</span><br> By Calculating</h2>

    <div class="box">
{{!-- 
      <div class="box-1">
        <div class="view">
          <img src="images/package.png">
        </div>
        <div class="box-content">
          <h3>Calculate By Selecting Package</h3>
        <a href="#">Calculate</a>
        </div>
      </div> --}}

      <div class="box-2">
        <div class="view">
          <img src="images/math.png">
        </div>
        <div class="box-content">
          <h3>Calculate By Inputting Mass</h3>
        <a href="/calculate" >Calculate</a>
        </div>
      </div>

    </div>

    </div>
  </div>

  <div class="bottom-content">
    <div class="bottom-content box">

    </div>
  </div>

</body>
</html>