<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Home</title>
  <link rel="stylesheet" href="../stylesheets/{{style}}">
</head>

<body>
  <div class="bg1">

  </div>

  <nav>
        <div class="nav-left">
            <a href="/"> <img class="logo" src="images/logo1.png"></a>

        </div>
        <div class="nav-right">

            <div class="nav-button">
                <a href="/">Home</a>
            </div>
            <div class="nav-button">
                <a href="/calculate">Calculate</a>
            </div>
            <div class="nav-button">
                <a href="/about">How Co2 Generated</a>
            </div>

            
                {{#if userWhichWeSee}}
                <div class="nav-button">
                    <a href="/logout">Logout</a>
                    {{else }}
                    <div class="nav-button">
                        <a href="/login">Login</a>
                    </div> 
                    <div class="nav-button">
                        <a href="/signup">signup</a>
                    </div>

                    {{/if}}
                </div>
            
        </div>
    </nav>

  <div class="content">
    <div class="right-content">
      <div class="box">
        <form action="">
          <h1>LogIn</h1>
          <div class="box-ques">
            <div class="ques">
            </div>
            <input type="text" name="email" placeholder="Enter email" required>
            <div class="email error"></div>
            <div class="ques">
            </div>
            <input type="password" name="password" placeholder="Enter password" required>
            <div class="password error"></div>
            <div class="ques">

            </div>
            <button>LogIn</button>
        </form>
      </div>



    </div>




  </div>
  </div>

  <script>
    const form = document.querySelector('form');
    const emailError = document.querySelector(".email.error");
    const passwordError = document.querySelector(".password.error");

    form.addEventListener("submit", async (event) => {
      event.preventDefault(); //Stops from refreshing

      //reset errors
      emailError.textContent = " ";
      passwordError.textContent = " ";

      //getting Values
      const email = form.email.value;
      const password = form.password.value;

      // The form hasmt specied the action where to post so here we are specifing?!
      try {
        const res = await fetch('/login', {
          method: "POST",
          body: JSON.stringify({ email, password }),
          headers: { "Content-Type": "application/json" } //Knows Json is the type of Data going to the server
        });

        const data = await res.json();
        console.log(data);

        if (data.errors) {
          emailError.textContent = data.errors.email;
          passwordError.textContent = data.errors.password;
        }

        if (data.user) {
          location.assign("/");
        }

      }
      catch (err) {
        console.log(err);
      }
    })
  </script>
</body>

</html>