* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body,
html {
    height: 100%;
}

body {
    background: #f5efe6;
    text-align: center;

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

a {
    font-family: 'Montserrat', sans-serif;
    ;
}

.bg {
    background-image: url("images/bg.png");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    opacity: .7;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5% 15px 2.5%;
    position: sticky;
    top: 0;
    z-index: 5;

}

.logo {
    width: 25vh;
    padding: 4px;
    margin-right: 16.5px;


}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

.nav-right {
    margin-top: 3vh;
}

.nav-button a {
    border-radius: 26px;
    cursor: pointer;
    margin-right: 23px;
    padding: 12px 25px 12px 25px;
    background: #ff923e;
    backdrop-filter: blur(10px);
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 13px;
    opacity: 1;
}

.nav-button:hover {
    filter: brightness(1.5);
}

.content {
    display: flex;
    position: fixed;
    top: 16%;
    left: 4%;
    align-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
    background: #ddeff9;
    border-radius: 20px;
}

.left-content {
    flex-basis: 50%;
    width: 100%;
    text-align: left;
    margin-left: 0vh;
    margin-right: 8vh;


}

.right-content h1 {
    text-align: center;
    font-size: 4vh;
    margin-top: 0px;
    margin-bottom: 3vh;
    text-align: left;
}

.right-content h1 img {
    width: 5vh;
}

.left-content img {
    width: 100%;
    margin-top: 0px;
    border-radius: 20px;
    object-fit: cover;
}

.right-content {
    flex-basis: 50%;
    width: 100%;
    text-align: center;


}

.box {
    background: #ff6f000a;
    width: 80%;
    margin-left: 0%;
    border-radius: 15px;
    text-align: left;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 6vh;

}

.ques {
    text-align: left;
}

.ques p {
    font-size: 14px;
    margin-bottom: 10px;
}

.box input {
    width: 80%;
    border: 0px solid #fff;
    padding: 8px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: left;

}

.box button {
    width: 45%;
    font-size: 12px;
    background: #ff923e;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    color: #ffffff;
    margin-top: 10px;
}

.box-ques {}

.result {
    background: #fff;
    text-align: left;
    border-radius: 2vh;
    width: 100%;
    background: rgb(247 247 247);

}

.result h3 {
    font-size: 13px;
    padding: 2px;
    font-weight: 300;
}

form {
    padding: 5vh;

}

.result-h {
    padding: 3vh 5vh;
}
.result-h a{
    font-size: 8px;
    width: 45%;
    background: #ff923e;
    border: none;
    padding: 8px 13px;
    border-radius: 20px;
    color: #ffffff;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 300;
}
.topp{
    margin-bottom: 5px;
}
#method{
    width: 30%;
    padding: 8px 15px;
    border: 0px solid #fff;
    border-radius: 10px;
}
.drop{
    width: 30%;
    padding: 8px 15px;
    border: 0px solid #fff;
    border-radius: 10px;
}
.content1{
    display: flex;
    position: relative;
    top: 100%;
    left: 4%;
    align-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
    background: #ddeff9;
    border-radius: 20px;
}